@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(./fonts/DINCondensedBold.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'MyFont2';
  src: local('MyFont2'), url(./fonts/GillSans.ttc) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}


body {
  font-family: 'MyFont';
  color: rgb(33, 33, 33);
  position: relative;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 .App {
   position: relative;
 }

.navPage {
  /* background-image: url(./assets/bg-pic.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  height: 100vh;
  position: relative;
}

.white {
  color: white;
}

#navBackground {
  width: 100%;
  position: relative;
}

.navText {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: absolute;
  top: 5.5%;
  left: 35%;
}

.navText h2 {
  font-size: 7.1em;
  padding-top: 0.8em;
}

.navText h1{
  font-size: 9.9em;
  /* height: 200px; */
  margin-top: -0.3em;
  
}

.navText h3 {
  font-size: 3.1em;
  margin-top: -0.2em;
  font-weight: bolder;
}

#navLogo {
  width: 10%;
  position: absolute;
  top: 19.5%;
  left: 20.5%;
}

.NavBar {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 25px;
  margin-top: 18px;;
  z-index: 12345;
  padding: 8px 10px;
}

.logo {
  font-size: 37px;
}

.leftBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 45%;
  align-items: center;
}

.rightBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 16%;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  position: relative;
  z-index: 10000;
  margin-top: 5%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 350px;
  height: 350px;
  margin: 10px 20px;
  position: relative;
}

.visibleCol {
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 10px 20px 2px rgba(0, 0, 0, 0.048);
}

.cardImg {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center;
  align-content: center;
  border-style: none; */
  
}

.square {
  width: 350px;
  height: 350px;
}


.cardImg .backImg {
  width: 310px;
  display: block;
  margin: 0 auto;
  
}

.instaLogo {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 85px;
}

.cardText {
  box-sizing: content-box;
  white-space: pre-wrap;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 295px;
  height: 295px;
  padding: 30px;
  font-family: 'Myfont2';

}

.bottomText {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.bottomText img {
  margin: 0 4px 0 10px;
  width: 20px;
  height: 20px;
}

.cardText h1 {
  font-size: 32px;
  font-weight: lighter;
  color: rgb(33, 33, 33);
  font-family: 'Myfont' !important;
}

.cardText p {
  font-family: 'Gill Sans', sans-serif !important;
  font-size: 20px;
  font-weight: normal;
}

.likes {
  font-family: 'Myfont';
  font-weight: bolder !important;
  font-size: 15px !important;
  margin-right: 18px;
}

.meet {
  height: 470px !important;
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: flex-start;
}

/* .meet1 {
  height: 420px !important;
} */

.meet h1 {
  color: rgb(33, 33, 33);
  font-size: 85px;
}

.meet span {
  background-color: #ffdac9;
  position: absolute;
  top: 128px;
  left: -20px;
  height: 10px;
  width: 350px;
  margin: 0 !important;
  z-index: -1;
}

.line {
  position: relative;
  top: -20px;
}

.topRow {
  align-items: flex-end;
  margin-top: 60px;
}

.meet #know {
  font-size: 25px;
  padding: 5px 5px 5px 15px;
  width: 130px;
  position: relative;
  top: -20px;
  background-color: #ffdac9;
}

.meet p {
  font-size: 30px;
  position: relative;
  top: 25px;
}

#lorem {
  font-size: 20px;
  font-weight: normal;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

.center {
  justify-content: center;
}

.bottomMargin {
  margin-bottom: 150px;
}


.slideUp {
  animation: 2s slide-up;
} 

@keyframes slide-up {
  from {
    margin-top: 100%;
     /* height: 300%; */
   }
  to {
    margin-top: 0%;
     /* height: 100%;  */
   }
}  



.menu {
  background-color: #F8F8F8;
  height: 150vh;
  width: 100%;
}


.menuRow {
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.menuCol {
  border-left: 3px solid rgb(212, 212, 212);
  height: inherit;
}

.MenuColInner {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  width: 350px;
  height: inherit;
  z-index: -200;
  position: relative;
  margin-top: 150px;
}

.menuTitle {
  color: rgb(33, 33, 33);
  font-size: 85px;
  line-height: 70px;
  position: relative;
  top: 50px;
}

.menuDiv {
  white-space: pre-wrap;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: center;
}

.leftCol {
  border-left: 0px !important;
}

.itemName {
  font-size: 20px;
  margin-bottom: 15px;
}

.itemDesc {
  font-family: 'Myfont2';
  font-size: 22px;
  color:#767676;
  margin-bottom: 20px;
}

.itemPrice {
  font-size: 20px;
  border: 3px solid #ffdac9;
  padding: 4px 0 4px 20px;
  width: 50px;
  box-sizing: content-box;
}

.parallax-outer {
  height: inherit;
}

.parallax-inner {
  height: inherit;
}

.ourMenu {
  height: 470px !important;
  position: absolute;
  left: 40%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
  margin: 80px 20px 0 20px
}

.ourMenu .knowMenu {
  font-size: 25px;
  padding: 7px 0px 7px 18px;
  width: 135px;
  position: relative;
  top: -20px;
  background-color: #ffdac9;
}

.ourMenu h1 {
  color: rgb(33, 33, 33);
  font-size: 85px;
  margin-bottom: 15px;
  position: relative;
  z-index: +10;
}

.ourMenu span {
  background-color: #ffdac9;
  position: absolute;
  top: 45px;
  height: 10px;
  width: 320px;
  margin: 0 !important;
  z-index: -0.5;
}

.detail1 {
  position: absolute;
  width: 180px;
  top: 260px;
  left: 260px;
  z-index: -1;
}

.detail2 {
  position: absolute;
  width: 35px;
  top: 277px;
  left: 335px;
  z-index: -1;
}

.detail3 {
  position: absolute;
  width: 190px;
  top: 205px;
  left: 75px;
  z-index: -1;
}

.middleBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1234567;
}


.requestInfo p {
  background-color: white;
  transform: rotateZ(-90deg);
  font-size: 27px;
  padding: 8px 12px;
  position: relative;
  left: 30px;
}

.sideBand img {
  position: relative;
  left: 30px;
}

.location {
  position: relative;
}

#locationBackground {
  width: 100%;
  z-index: 1;
  position: relative;
  display: block;
}

.address {
  background-color: white;
  z-index: 2;
  position: absolute;
  top: 125px;
  left: 185px;
  padding: 0 25px;
}

.address h1 {
  color: rgb(33, 33, 33);
  font-size: 85px;
  position: relative;
  top: -40px;
}

.address p {
  font-family: 'Myfont2' !important;
  font-size: 20px;
  position: relative;
  top: -40px;
}

#locationIcon {
  width: 3%;
  position: absolute;
  z-index: 2;
  top: 28.5%;
  left: 40.6%;
}


.footer {
  height: 450px;
  background-color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 45px 200px;
}

.footerRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sections {
  display: flex;
  flex-direction: row;
}

.sections div {
  margin-right: 110px;
}

.sections h4 {
  color: #ffdac9;
  font-size: 1.3em;
}

.sections p {
  font-family: 'Myfont2';
  color: #767676;
  font-size: 1.2em;
  margin-top: 20px;
}

.footerLogo p {
  font-family: 'Myfont' !important;
  color: white !important;
  font-size: 3em !important;
}

.footerLogo h3 {
  font-family: 'Myfont' ;
  color: white ;
  font-size: 5.3em ;
  position: relative;
  left: 28px;
  top: -20px;
}

.footerRow p {
  font-family: 'Myfont2';
  color: #767676;
  font-size: 1.2em;
}

.footerImg {
  width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.collaborate {
  height: 630px;
  background-color: #ffdac9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 45px 150px;
  position: relative;
}

.collaborate form {
  display: flex;
  flex-direction: row;
  color: black;
  position: relative;
  top: 20px;
}

.collaborate form div {
  display: flex;
  flex-direction: column;
}

.collaborate form label {
  font-size: 19px;
  margin-bottom: 30px;
}

::placeholder {
  color:rgba(160, 160, 160, 0.692);
}

.collaborate form input {
  background-color: #ffdac9;
  border-width: 0 0 2px 0;
  border-color: #333333;
  width: 350px;
  margin-right: 40px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  font-family: 'Myfont2';
  font-size: 20px;
}

.collaborate form select {
  background-color: #ffdac9;
  border-width: 0 0 2px 0;
  border-color: #333333;
  margin-right: 40px;
  padding-bottom: 15px;
  font-family: 'Myfont2';
  font-size: 20px;
  color:rgba(160, 160, 160, 0.726);
}

.collaborate form button {
  color: #ffdac9;
  background-color: #333333;
  position: relative;
  top: 40px;
  border: none;
  width: 90px;
  height: 45px;
  font-size: 25px;
  font-family: 'Myfont';
  align-self: flex-end;
  margin-right: 40px;
  
}

.nameSurnameForm {
  border-width: 0 0 3px 0 !important;
}

.collabLeftText {
  height: 100%;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.collabLeftText p {
  font-size: 22px;
  color:#767676;
  font-family: 'Myfont2';
}

.collabLeftText h2 {
  font-size: 48px;
  position: relative;
  top: 25px;
}

.collabLeftText h1 {
  font-size: 85px;
  position: relative;
  z-index: 1;
}

.collabLeftText div {
  position: relative;
}

.collabLeftText span {
  background-color: #ffffff;
  position: absolute;
  top: 102px;
  left: -25px;
  height: 12px;
  width: 270px;
  margin: 0 !important;
  z-index: -0.5;
}

#botLeftText {
  margin-bottom: 110px;;
}

.collabDetail {
  width: 188px;
  position: absolute;
  top: 1%;
  left: 60%
}

.recipes {
  height: 140vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 200px;
}

.rpTopText {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.rpArrows {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  top: 80px;
}

.rpArrows img {
  width: 4.7%;
  margin-left: 1.7%;
}

.rpScroll {
  height: 650px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rpCard {
  height: 500px;
  margin-right: 20px;
  box-sizing: content-box;
  white-space: pre-wrap;
  position: relative;
}

.flexEnd {
  align-self: flex-end;

}


.rpCard .rpBack {
  width: 328px;
}

.widerImg {
  width: 475px !important;
}

.widerImgArrow {
  position: absolute !important;
  top: 395px !important;
  left: 395px !important;
}

.rpCard .rpSmallArrow {
  width: 80px;
  position: absolute;
  top: 248px;
  left: 248px;
}

#userFullName {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 15px;
  font-size: 18px;
}

.rpCardText {
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 16px 30px;
}

.rpCardText h3 {
  font-size: 30px;
  color:#333333;
}

.rpCardText p {
  font-size: 22px;
  color:#767676;
  font-family: 'MyFont2';
}

.rpCardText #difficulty {
  color:#7676768c !important;
  font-family: 'MyFont' !important;
}

.rpCardTop {
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 10px 20px 2px rgba(0, 0, 0, 0.048);
}

.rpTopLeft {
  position: relative;
}

.rpTopLeft h1 {
  font-size: 85px;
  z-index: 1;
}

.rpTopLeft h2 {
  color: #333333;
  font-size: 48px;
  position: relative;
  top: 22px;
}

.rpTopLeft p {
  color: #333333;
  font-size: 25px;
  padding: 7px 0px 7px 14px;
  width: 90px;
  background-color: #ffdac9;
}

.rpTopLeft span {
  background-color: #ffdac9;;
  position: absolute;
  top: 103px;
  left: -25px;
  height: 10px;
  width: 270px;
  z-index: -1;
}

.rpTopRight {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}

.rpTopRight h2 {
  color: #333333;
  font-size: 48px;
  position: relative;
}

.rpTopRight p {
  color: #333333;
  font-size: 25px;
  padding: 7px 0px 7px 14px;
  width: 130px;
  background-color: #ffdac9;
  align-self: flex-end;
}

.rpCardImgs p {
  position: absolute;
  background-color: #00000056;
  text-align: center;
  width: 100px;
  height: 100px;
  font-size: 50px;
  color: white;
  padding: 5px 0;
}

.rpCardImgs span {
  font-size: 20px !important;
  position: relative;
  top: -30px
}

.wideServings p {
  position: absolute;
  background-color: #00000056;
  text-align: center;
  width: 140px;
  height: 140px;
  font-size: 70px;
  color: white;
  padding: 5px 0;
}

.wideServings span {
  font-size: 30px !important;
  position: relative;
  top: -40px
}

.chefChoice {
  width: 170px;
  position: absolute;
  left: 160px;
  top: -90px
}

.chefChoiceWide {
  position: absolute;
  left: 290px !important;
  top: -80px !important;

}